.app-div{
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 10px;
    /* text-align: center; */
}

.app-header{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    background-color: gray;
    word-wrap: break-word;
    padding-top: 10px;
    padding-bottom: 10px;
}